# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/DesignPatternsPHP.iml
.idea/composerJson.xml
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
